{% extends 'base.html' %}
{% load static %}
{% block title %}記録詳細 | Liner Records{% endblock %}
{% block active_record_detail %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <p>{{ record.category.name }}</p>
            <table class="table">
            <tr>
                <td>Date</td>
                <td>Value</td>
            </tr>
            {% for record in record_list %}
            <tr>
                <td>{{ record.date }}</td>
                <td>{{ record.value }}</td>
                <td><a href="{% url 'record:record_update' record.pk %}">編集</a></td>
                <td><a href="{% url 'record:record_delete' record.pk %}">削除</a></td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}