{% extends 'base.html' %}
{% load static %}
{% block title %}記録一覧 | Liner Records{% endblock %}
{% block active_record_list %}active{% endblock %}

{% block head %}
{% endblock %}

{% block extrajs %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <form action="{% url 'record:search' %}" method="post">
                    <input class="form-control" type="text" maxlength="30">
                    <input class="btn btn-secondary" type="submit" value="検索">
            </form>
            <div style="position:relative; top:60px; left:60px; width:500px; height:500px;">
                <canvas id="line-graph"></canvas>
                <script>
                    var config = {
                    type: 'line',
                    data: {
                        labels: [
                            {% for today in date %}
                                '{{ today }}',
                            {% endfor %}
                        ],
                        datasets: [
                        {% for name in cate_name %}
                        {
                            label: '{{ name }}',
                            data: [
                                {% for record in queryset %}
                                    {% if record.category.name == name %}
                                        {{ record.value }},
                                    {% endif %}
                                {% endfor %}
                            ],
                            {% if forloop.first %}
                                borderColor: 'rgba(0, 128, 128, 0.5)',
                            {% elif forloop.counter == 2  %}
                                borderColor: 'rgba(128, 0, 128, 0.5)',
                            {% else %}
                                borderColor: 'rgba(0, 0, 128, 0.5)',
                            {% endif %}
                            fill: false
                        },
                        {% endfor %}
                        ],
                    },
                    options: {
                        annotation: {
                            annotations: [{
                            }]
                        }
                    }
                    };
                    window.onload = function() {
                    var ctx = document.getElementById('line-graph').getContext('2d');
                    window.myPie = new Chart(ctx, config);
                    };
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}