{% extends 'base.html' %}
{% load static %}
{% block title %}記録更新 | Liner Records{% endblock %}
{% block active_record_list %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <form action="" method="post">
            {% csrf_token %}
                {{ form.as_table }}
                <div class="mt-2">
                    <button class="btn btn-primary">更新</button>
                    <a class="btn btn-secondary" href="{% url 'record:record_detail_next' object.category.pk %}">戻る</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}