{% extends 'base.html' %}
{% load static %}
{% block title %}記録詳細 | Liner Records{% endblock %}
{% block active_record_detail %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <p>Category</p>
            <table class="table">
            {% for category in category_list %}
                <tr>
                    <td><a href="{% url 'record:record_detail_next' category.pk %}">{{ category.name }}</a></td>
                    <td>{{ category.description }}</td>
                    <td><a href="{% url 'record:category_update' category.pk %}">編集</a></td>
                    <td><a href="#">削除</a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}