{% extends 'base.html' %}
{% load static %}

{% block title %}お問い合わせ | Liner Records{% endblock %}

{% block active_inquiry %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <form action="" method="get">
            {% csrf_token %}
                <div class="row">
                    <input class="form-control col-8" type="text" name="query" value="{{ request.GET.query }}">
                    <input class="btn btn-primary" type="submit" value="検索">
                </div>
            </form>
            {% for user in object_list %}
                <div class="row">
                    {{ user.username }}
                    <form action="{% url 'record:follow' username %}" method="post">
                    {% csrf_token %}
                        <input class="btn btn-secondary" type="submit" value="追加">
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}